/*css reset*/

*{
    font-family: 'Bree Serif', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
    background : url(images/main-qimg-01145ef7a8e61493b624654465aa21f5.webp);
    background-size: contain; 
    background-position: center;
    background-attachment: scroll local;
    background-repeat: no-repeat;
}

html{
    scroll-behavior: smooth;
}

:root{
    --navbar-height: 50px;
    --text-clr: #4f4f4f;
}

.navbar{
    display: flex;
    align-items: Center;
    height: 8%;
    width: 100%;

}
.navbar::before{
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
 }
/*Navigation Bar: Logo and Image */
.navbar-brand{
    margin: 10px 25px;
}
.navbar-brand img{
    height: 50px;
    margin: 10px 10px;
}
.navbar-collapse ul li{
    list-style: none;
    font-size: 1rem;
 }
 .navbar-collapse ul li a{
    color: whitesmoke;
    display: block;
    padding: 3px 25px;
    border-radius: 15px;
    text-decoration: none;

}
.navbar-collapse ul li a:hover{
    color: rgb(251, 250, 250);
    background-color: rgb(4, 142, 82);

}

.btn{
    
    margin: 15px;
    justify-content: center;
    font-size: 1.5 rem;
    font-weight: bold;
    cursor: pointer;
}
 .carousel{
    margin: 2px;
    padding: 50px;
    height: 50%;
    width: 100%;
    
 }

 #about{
    
    justify-content: center; 
    margin: 20px 0px;
    display: flex;
    border: 2px solid black;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(215, 176, 176);
 }

 button{
    
    border: 25px;
    border-radius: 20px;
    justify-content: center;
    font-size: 1.9rem;
    font-weight: bold;
    cursor: pointer;
}

#Treat{
    
    margin: 20px 0px;
    display: flex;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: blanchedalmond;
}

#blog{
   
    margin: 20px 0px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    border: 2px solid rgb(15, 15, 15); 
    padding: 10px;
    border-radius: 20px;
    background-color:beige;
}

#yt{
    
    margin: 20px 0px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color:aliceblue;
}

a{
    text-decoration: none;
    color: var(--text-clr);
}
a::after{
    text-decoration: none;
    color: var(--text-clr);
}
h2{
    color: var(--text-clr);
    font-size: 1.5rem;
}
p{
    color:#6c757d;
}
.main_cart{
    background-color: #fff;
}
.card{
    border: none;
}
.product_img img{
    min-width: 200px;
    min-height: 200px;
}
.product_name{
    color:black;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 500;
}

.card-title p{
    font-size: 0.9rem;
    font-weight: 500;
}

.shadows{
    background-color: var(--text-clr);
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.remove_wish p{
    font-size: 0.8rem;
    margin-bottom: 0;
}

.price_money h5{
    font-size: 1rem;
    font-weight: 600;
}
.set_quantity{
    position: relative;
}

.set_quantity::after{
    content: "(Note, 1 piece)";
    width: auto;
    height: auto;
    text-align: center;
    position: absolute;
    font-size: 1rem;
    bottom: -20px;
    right: 1rem;
}

.page-link{
    line-height: 16px;
    width: 45px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #495057
}

.page-link:hover{
    text-decoration: none;
    color: #495057;
    outline: none !important;
}

.page-link:focus .page-item:focus{
    box-shadow: none;
}

.page-item input{
    line-height: 16px;
    padding: 3px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.price_indiv p{
    font-size: 1.1rem;
}

.fa-heart:hover{
    color: red;
}
footer{
    
    margin: 20px 25px;
    box-sizing: border-box;
    width: 100%;
    background-color:azure;
    color: rgb(5, 4, 4);
    padding: 50px;
}